<h1>Reset password</h1>

<p>Forgotten your password? No problem, it happens to all of us. Just type in
    the email address under which you registered your account, and we'll send
    over a link to reset your password.</p>

<% form_tag forgotten_password_path do -%>
    <p><%= label_tag :email, 'Enter your email address:' %><br />
    <%= text_field_tag 'email', @email %></p>

    <p><%= submit_tag 'Reset password' %></p>
<% end %>
