
<h1>Reset password</h1>

<p>Please choose a new password.</p>

<% form_for :user, @user do |f| %>

  <%= error_messages_for :user, :token %>

  <table class="noborder">
      <%= form_row f, :password, "Your new password", :type => :password %>
      <%= form_row f, :password_confirmation, "Confirm your password", :type => :password %>

    <tr>
      <th></th>
      <td><%= f.submit 'Reset password' %></td>
    </tr>
  </table>

<% end %>
