<h1>Which account do you wish to log into?</h1>
<ul>
  <% @customers.each do |customer| %>
    <li><%= link_to customer.name, :subdomain => customer.subdomain, :return_to => params[:return_to] %></li>
  <% end %>
</ul>
